# variables & keywords

In [1]:
my_age=31

In [2]:
my_age

31

In [3]:
score=89.4

In [4]:
var="Hello world,welcome to the class"

In [9]:
var=10
type(var)

int

In [10]:
string_var="Hello world,welcome to the class"

In [12]:
print(string_var)
type(string_var)

Hello world,welcome to the class

str

In [14]:
a=10.5
print(a)
print(type(a))

10.5
<class 'float'>

In [15]:
a='10.5'
print(a)
print(type(a))

10.5
<class 'str'>

In [16]:
bool_var="true"
print(bool_var)
print(type(bool_var))

true
<class 'str'>

In [18]:
bool_var=True
print(bool_var)
print(type(bool_var))

True
<class 'bool'>

In [19]:
a=10
A=15

print(a)
print(A)

10
15

In [20]:
name=2
Name=4

In [21]:
var=10

In [22]:
float_var=10.1

In [23]:
type(var)

int

In [24]:
type(float_var)

float

In [25]:
string1='hello'
print(string1)

hello

# keywords

In [26]:
name="amarjeet"
age=24
gender='male'
address='india'

In [27]:
#type()--> data type of the variables

type(age)

int

In [28]:
a=10
b=2

In [33]:
print(a+b)
print(a-b)
print(a*b) 
print(a/b)
print(a//b) #floor division
print(a**b)#power
print(a%b) #modulus remainder

12
8
20
5.0
5
100
0

In [ ]:
print((4*5)-9+6/7)

(4*5)-9+6/7
=20-9+6/7
=20-9+0.8
=11.8

In [35]:
print(4+(8**2)-3**2%1)

68

In [36]:
print(4%(1+9)**2-60//(7+2))

-2

In [37]:
a='Rob'
b='John'
c="Mike"

In [41]:
print(a)
print(b)
print(c) 
len(c)
len(b)
len(c)

Rob
John
Mike

4

In [42]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [43]:
str1="hello world"

In [44]:
str1[10]

'd'

In [45]:
str(-1)

'-1'

In [47]:
str1[0:3]

'hel'

In [48]:
str1[0:5]

'hello'

In [49]:
str1[-3:]

'rld'

In [53]:
str1[0:2]

'he'

In [54]:
str1[-8:]

'lo world'

In [55]:
new_str=str1[0:2]+'x'+str1[-8:]
new_str

'hexlo world'

In [56]:
str[2]='x' string is immutable

SyntaxError: invalid syntax (Temp/ipykernel_15916/315034737.py, line 1)

# concat

In [57]:
first_name="ram"
last_name="verma"

print(first_name +last_name)
print(first_name +" "+last_name)

ramverma
ram verma

# slicing[start:end:step]

In [58]:
string="hello world"

In [59]:
string[2:5]

'llo'

In [60]:
string[-9:-6]

'llo'

In [61]:
string[6:11]

'world'

In [62]:
string[-5:]

'world'

In [63]:
string="hello world"
string[1::3]

'eood'

In [64]:
string[0::3]

'hlwl'

In [65]:
string[1:6:3]

'eo'

# string methods

In [67]:
#upper()
text='i have a cat'
print(text)

i have a cat

In [68]:
text='i have a cat'
print(text.upper())

I HAVE A CAT

In [69]:
# lower()
text='I HAVE a CaT'
print(text.lower())

i have a cat

In [70]:
# rstrip()
text='i have a cat                  '
print(text)
print(text.rstrip())
new_text=text.rstrip()

i have a cat
i have a cat

In [71]:
len(text)

30

In [72]:
len(new_text)

12

In [73]:
#lstrip()
text='              i have a car'
print(text)
print(text.lstrip())

new_text_lstrip=text=text.lstrip()

              i have a car
i have a car

In [74]:
# strip()
text='**************4567890############'
print(text)
new_text=text.rstrip('#').lstrip('*')

**************4567890############

In [75]:
print(new_text)

4567890

In [76]:
# count()
text='this is a sample sentence in this example'
print(text.count('i'))

4

In [77]:
print(text.count('i',5))

3

In [78]:
A='data'
B='Analysis'
C='Python'

print('let us learn '+'{0}{1} using {2}'.format(A,B,C))

let us learn dataAnalysis using Python

# Tuples.
.Tuples are ordered sequence of mixed data  types.
.Tuples are written in comma separated elements within parenthesis.

In [79]:
t=(1,2,3,4)

In [80]:
type(t)

tuple

In [83]:
t=('hello',5,5.5)
print(t)
type(t)

('hello', 5, 5.5)

tuple

In [86]:
t1=('hello',5,5.5,[2,3,4])

In [87]:
len(t1)

4

# tuples can be defined in various ways

In [88]:
t1=1,2,3,4,5
print(t1)

(1, 2, 3, 4, 5)

In [89]:
t2=(2)
type(t2)

int

In [90]:
t3=2,
type(t3)

tuple

# indexing tuple

In [91]:
t=("Mumbai",10,"python",100)

In [96]:
print(len(t))
print(t[0])
t[-1]

4
Mumbai

100

In [99]:
#gives the element at index location 0 i.e.ist element
print(t[0])

#gives the element at index location1
print(t[1])

Mumbai
10

# slicing

In [103]:
# slicing first 2 element from t

t=("mumbai","python",10,100)
print(t[0:2])
print(t[2:])

('mumbai', 'python')
(10, 100)

In [104]:
# slicing last 2 element from from t
t[-2:]

(10, 100)

In [105]:
# find the number of element in a tuple
len(t)

4

# concatenation

In [106]:
tup1=("welcome","to","today's")
tup2=("class","on","python")

In [107]:
tup3=tup1+tup2

In [108]:
tup3

('welcome', 'to', "today's", 'class', 'on', 'python')

# min,max,sum functions

In [109]:
t=(2,4,6,8)
sum(t)

20

In [110]:
t=(2,4,6,8)
min(t)

2

In [111]:
t=(2,4,6,8)
max(t)

8

In [120]:
# t=(5.5,4.25,10)
max(t)

10

In [129]:
tuple1=(1,2,3,4,"hello","world","world",[1,2,3])
len(tuple1)

8

In [117]:
print(tuple1[0])
print(tuple1[3])
tuple1[6]

1
4

'world'

In [130]:
tuple1[6][1]

'o'

In [131]:
list1=[1,2,3,4,"hello","world",(1,2,3)]
tuple1[6][1]

'o'

# immutability

In [132]:
t=("Hello!!","welcome",5,10,"world","of","Analytics!!")

In [133]:
t[3]

10

In [134]:
t[2]="to"
t[3]="the"

TypeError: 'tuple' object does not support item assignment

In [135]:
t[0:2]

('Hello!!', 'welcome')

In [136]:
t[-3:]

('world', 'of', 'Analytics!!')

In [139]:
# How to update the 2nd and 3rd element
new_tuple=t[0:2]+("to","the",)+t[-3:]

In [140]:
new_tuple

('Hello!!', 'welcome', 'to', 'the', 'world', 'of', 'Analytics!!')

In [141]:
#question
t=("disco",12,4.5)
t[0]

'disco'

In [142]:
t[0][2]

's'

# sorting a tuple

In [143]:
t=(2,3,8,5,4,1)
sorted(t)

[1, 2, 3, 4, 5, 8]

In [144]:
new_list=sorted(t)

In [145]:
new_list

[1, 2, 3, 4, 5, 8]

In [146]:
# nested tuples
t=(1,5,"Hello","world",("java","python"))

In [147]:
t[4]

('java', 'python')

In [148]:
t[4][0]

'java'

# list

.Tuple are ordered sequence of mixed data types
Tuples are written in comma separated elements within sqare brackets

In [150]:
tuple1=(1,2,55,4,19,22)

In [152]:
list1=sorted(tuple1,reverse=True)
tuple2=tuple(list1)
print(tuple2)

(55, 22, 19, 4, 2, 1)

In [153]:
tuple3=(1,)
type(tuple3)

tuple

In [154]:
tuple3=(1)
type(tuple3)

int

# list
list are ordered sequence of mixed data types, list are written in comma separated elements within sqare brackets.

In [155]:
list1=["india",5,"Delhi"]

In [156]:
list1

['india', 5, 'Delhi']

In [157]:
print(len(list1))
print(type(list1))

3
<class 'list'>

In [158]:
# Nested list

list2=["India","Delhi",5,10,["Rajkot","Chennai"]]

In [159]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [160]:
list2[0]

'India'

In [161]:
list2[-1]

['Rajkot', 'Chennai']

In [162]:
list2[-1][1]

'Chennai'

In [163]:
#indexing
list2=["India","Delhi",5,10,["Rajkot","Chennai"]]
list2[0]

'India'

In [164]:
# slicing
list2[-1]

['Rajkot', 'Chennai']

In [165]:
list2=["India","Delhi",5,10,["Rajkot","Chennai"]]

In [166]:
list2[4]

['Rajkot', 'Chennai']

In [167]:
list2[4][1]

'Chennai'

In [168]:
list2[4][-2]

'Rajkot'

In [169]:
list2[4][0]

'Rajkot'

In [170]:
# list concat
list1=[1,2,3,4]
list2=[5,6,7,8]

new_list=list1+list2

In [171]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [172]:
# add two elements to an existing list.
list3=[1,2,3,4]
#list4=[5,6]
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [173]:
string1="hello how are you"
print("world" in string1)

False

In [174]:
# membership in lists

list3=[1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

# Mutability

In [179]:
list1=["Maths","Physics","Chemistry","Biology"]

In [180]:
list1[3]='computer science'

In [181]:
list1

['Maths', 'Physics', 'Chemistry', 'computer science']

In [182]:
#extend()function

list1=[1,2,3,4]
list1.extend([5,6])
list1

[1, 2, 3, 4, 5, 6]

In [186]:
list1=[1,2,3,4]
list1.append([5,6])
list1

[1, 2, 3, 4, [5, 6]]

In [188]:
#del command

list1=[1,2,3,4]
del list1[2]
list1

[1, 2, 4]

In [189]:
#pop()-Deletes the last object from the list

list1=[1,2,3,4]

list1.pop()
list1

[1, 2, 3]

In [191]:
list1=[11,22,33,44]

list1.pop(1)
list1

[11, 33, 44]

In [193]:
list1=[11,22,33,44]
list1.remove(22)
list1

[11, 33, 44]

In [195]:
#pop()- By default,it deletes the last object from the list
#pop takes index as an input

list1=[1,2,3,4]
list1.pop(2)
list1

[1, 2, 4]

In [196]:
# sorting
A=[9,5,2]
A.sort()
A

[2, 5, 9]

In [197]:
A.sort(reverse=True)
A

[9, 5, 2]