# Sets

.sets are a type of collection like lists,tuples storing mixed data.
.sets are enclosed within curly brackets and elements are written as comma-separated.
.sets are unordered
.sets does not allow duplicates

In [2]:
list1=[1,2,3,4,5]
print(type(list1))
print(len(list1))

<class 'list'>
5

In [5]:
set_1=set(list1)
print(set_1)
print(type(set_1))
print(len(set_1))

{1, 2, 3, 4, 5}
<class 'set'>
5

In [6]:
list1=[1,2,3,4,5,6,7,5]
print(len(list1))
print(type(list1))

8
<class 'list'>

In [8]:
set_1=set(list1)

In [9]:
len(set_1)

7

In [10]:
set_1

{1, 2, 3, 4, 5, 6, 7}

In [11]:
list_2=['A','B','C','A','B','C','A','B','C','A','B','C','D','E']
set_2=set(list_2)
print(len(set(list_2)))

5

In [13]:
set_3={1,2,3,4,5,6,7,8}

In [14]:
set_3

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
set_4=set({})

In [17]:
type(set_4)

set

In [18]:
tup_1=(1)
type(tup_1)

int

In [19]:
tup_1=(1,)
type(tup_1)

tuple

In [20]:
set_2={1,2,3,4,5}
set_2.add("india")
set_2

{1, 2, 3, 4, 5, 'india'}

In [21]:
set_2.remove("india")
set_2

{1, 2, 3, 4, 5}

# set Operation

In [22]:
A={0,2,4,6,8}
B={1,2,3,4,5}

In [23]:
# union()
print(A | B)
print(A.union(B))
print(len(A.union(B)))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
8

In [24]:
# difference

print(A-B)
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [26]:
# intersection
print(A&B)
print(A.intersection(B))

{2, 4}
{2, 4}

In [29]:
# symmetric difference

print(A^B)

{0, 1, 3, 5, 6, 8}

In [32]:
A=[5,1,3,4,4,5,6,7]
B=[3,3,5,5,1,7,2]
list1=set(A) & set(B)
print(sorted(list1))

[1, 3, 5, 7]

In [33]:
list_1=[5,1,3,4,4,5,6,7]
list_2=[3,3,5,5,1,7,2]
list1_as_set=set(list_1)
i=list1_as_set.intersection(list_2)
print(list(i))

[1, 3, 5, 7]

In [35]:
nums=set([1,1,2,3,3,4])
print(len(nums))

4

In [34]:
A={1,2,3,4,5,6}
B={0,1,2,10,11}

In [36]:
A.intersection(B)

{1, 2}

In [38]:
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 10, 11}

In [39]:
(A.union(B)).difference(A.intersection(B))

{0, 3, 4, 5, 6, 10, 11}

# Dictionary

# .Dictionary stores element as keys and value pairs
.the key is like an index,its always unique & immutable
.the values are the objects that contain information
.each key is followed by a value separated by a colon
.the values can be immutable,mutable&duplicates
.each key and value pairs is seprated by a comma enclosed inside curly brackets

In [40]:
# Creating a dictionary,key=values

d1={"India":"INR","USA":"USD","Hong kong":"HKD"}
#Accessing value using keys

d1["India"]

'INR'

In [43]:
# Replacing a new key_value pair

d1["India"]="NEW"
d1

{'India': 'NEW', 'USA': 'USD', 'Hong kong': 'HKD', 'japan': 'NEW'}

In [44]:
d1["japan"]="YEN"
d1

{'India': 'NEW', 'USA': 'USD', 'Hong kong': 'HKD', 'japan': 'YEN'}

In [45]:
# inserting a new key value pair

d1["japan"]="YEN"
d1

{'India': 'NEW', 'USA': 'USD', 'Hong kong': 'HKD', 'japan': 'YEN'}

In [46]:
# Deleting a key value pair
del d1["japan"]
d1

{'India': 'NEW', 'USA': 'USD', 'Hong kong': 'HKD'}

In [47]:
#sorting a dictionary,

sorted(d1)

['Hong kong', 'India', 'USA']

In [50]:
d1["India"]="INR"
d1

{'India': 'INR', 'USA': 'USD', 'Hong kong': 'HKD', 'india': 'INR'}

In [51]:
# Values ()method
d1.values()

dict_values(['INR', 'USD', 'HKD', 'INR'])

In [61]:
# keys() method
d1.keys()

dict_keys(['India', 'USA', 'Hong kong', 'india'])

In [62]:
#get() method
d1.get("India")

'Rs'

In [63]:
# update()method
d1.update({"India":"Rs"})
d1["india"]="RS"

d1

{'India': 'Rs', 'USA': 'USD', 'Hong kong': 'HKD', 'india': 'RS'}

In [64]:
Employee_data={101:['shiva',24,'content straegist'],102:['Udit',25,'content strategist'],103:['Sonam',28,'Sr Manager'],104:['Ansari',29,'Product Lead'],105:['Hema',32,'project Manager']}

type(Employee_data)

dict

In [65]:
Employee_data

{101: ['shiva', 24, 'content straegist'],
 102: ['Udit', 25, 'content strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Hema', 32, 'project Manager']}

In [66]:
type(Employee_data.get(104))

list

In [67]:
Employee_data.get(104)

['Ansari', 29, 'Product Lead']

In [68]:
list_2=Employee_data.get(104)

In [69]:
list_2[2]

'Product Lead'

In [70]:
list1=[1,2,3,4,5]
list1[2]

3

In [71]:
Employee_data.get(104)[2]

'Product Lead'

In [72]:
dict_1={"Python":40,"R":45}

In [74]:
del dict_1["R"]

In [75]:
dict_1

{'Python': 40}

In [77]:
d={'python':40,'R':45}
d.keys()

dict_keys(['python', 'R'])

In [78]:
input_dict={'Name':'Monty','Profession':'Singer'}

In [80]:
input_dict["Label"]="NA"

In [81]:
input_dict["Label"]

'NA'

In [82]:
string_1="Hello world"

"hello" in string_1

False

In [86]:
input_dict={'Name':'Monty','Profession':'Singer'}

In [87]:
input_dict.keys()

dict_keys(['Name', 'Profession'])

In [89]:
input_dict={'Name':'Monty','Profession':'Singer'}

if "Label" in input_dict.keys():
    print(input_dict["Label"])
else:
    print("NA")

NA

# Binary Operators

# .works with 2 operands
.operand can be:a+b-->where a,b are two operands & a+3.where a is an operand and 3 is a variable.

# Relation operators
. type of binary operator
.compares the values on either side of the opearator and returns and boolean and boolean value as True or False

# equal to operator

In [91]:
10==10

True

In [93]:
10==12

False

In [94]:
10!=12

True

In [95]:
12!=12

False

In [96]:
12==12

True

# not equal to operator

In [98]:
a=10

In [99]:
10!=5

True

# greater than operator

In [100]:
5<=5

True

In [101]:
a=5

In [102]:
a<=5

True

In [103]:
a==5

True

In [104]:
a=10

In [105]:
a==5

False

In [106]:
10>=5

True

# Decision Making

# if-Else blocks

In [108]:
age=45

In [111]:
if age <50:
    print ("young")
else:
    print("adult")

young

In [112]:
age=51

In [113]:
if age <50:
    print ("young")
else:
    print("adult")

adult

In [114]:
if age < 20:
    print("young")
elif age>=20 & age<30:
    print("mid level")
else:
    print("adult")

mid level

# Write a program to check value in variable x is even or odd

In [115]:
5%2

1

In [116]:
x=50

In [117]:
if x % 2==0:
    print("even")
else:
    print("odd")

even

In [118]:
x=51

In [119]:
if x%2==0:
    print("even")
else:
    print("odd")

odd

# write a program to accept age of visitor and allow him to PM's party only if he is above 60 years or below 18 years of age

In [121]:
x=19

if x<18 or x>60:
    print("Going to the party")
else:
    print("Not going")

Not going

In [122]:
x=61

if x<18 or x>60:
    print("Going to the party")
else:
    print("Not going")

Going to the party

In [123]:
x=int(input("Enter your age:"))

if x<=18 or x>=60:
    print("welcome to party")
else:
    print("sorry!! you do not fit in PM's age criteria")

Enter your age:15
welcome to party

In [124]:
x=int(input("Enter your age:"))

if x<=18 or x>=60:
    print("welcome to party")
else:
    print("sorry!! you do not fit in PM's age criteria")

Enter your age:65
welcome to party

In [127]:
shopping_total=11000

if shopping_total>=5000& shopping_total<10000:
    print("u won a discount of flat 1000 on next purchase")
elif shopping_total>=2500:
    print("u won a discount voucher of flat 100 on next purchase")
elif shopping_total>=1000:
    print("u won a discount vouche of flat 100 on next purchase")
else:
    print("oops!!no discount for you!!!")

u won a discount of flat 1000 on next purchase

In [132]:
shopping_total=500

if shopping_total>=5000:
    print("u won a discount of flat 1000 on next purchase")
elif shopping_total>=2500:
    print("u won a discount voucher of flat 500 on next purchase")
elif shopping_total>=1000:
    print("u won a discount vouche of flat 100 on next purchase")
else:
    print("oops!!no discount for you!!!")

oops!!no discount for you!!!

In [1]:
a=21
b=16
c=20

if((a>b) and (a>c)):
    print("a")
elif((b>a) and (b>c)):
    print("b")
else:
    print("c")

a