# Binary Operators
.works with 2 operands
.Operand can be :a+b-->where a,b are two operands& a+3,where a is an operand,and 3 is avariable

In [ ]:
Relational Operators
.Relational operators
.compares the values on either side of the operator and returns and boolean value as True or False

# iteration

.Repeated execution of a set of statements

.implemented using 'for'loops & 'while'loops

In [ ]:
1,2,3,4,5,6

9--> yes ,9 is grater than all the elements

In [3]:
l=[1,3,4,2,5,6]

In [4]:
len(l)

6

In [5]:
# iterate over list of integers
list_1=[1,3,4,2,5,6]
for i in list_1:
    print(i)

1
3
4
2
5
6

In [6]:
string_1="hello world"

string_1[0]

'h'

In [7]:
# iterate over a string

string="Himachal pradesh"
for ch in string:
    print(ch)

H
i
m
a
c
h
a
l

p
r
a
d
e
s
h

In [8]:
string="Himachal pradesh" #modify print using end
for ch in string:
    print(ch,end=",")# default value of end ="\n"

H,i,m,a,c,h,a,l, ,p,r,a,d,e,s,h,

In [9]:
string="Himachal pradesh" #modify print using end
for ch in string:
    print(ch,end="&")# default value of end ="\n"

H&i&m&a&c&h&a&l& &p&r&a&d&e&s&h&

In [10]:
string="Himachal pradesh" #modify print using end
for ch in string:
    print(ch,end=":")# default value of end ="\n"

H:i:m:a:c:h:a:l: :p:r:a:d:e:s:h:

In [16]:
students_data={1:['sam',24],2:['sharma',25],3:['saina',26],4:['saif',24]}

In [17]:
students_data

{1: ['sam', 24], 2: ['sharma', 25], 3: ['saina', 26], 4: ['saif', 24]}

In [18]:
# iteration over a dictionary

students_data={1:['sam',24],2:['sharma',25],3:['saina',26],4:['saif',24]}
for key,val in students_data.items():
    print(key,val)

1 ['sam', 24]
2 ['sharma', 25]
3 ['saina', 26]
4 ['saif', 24]

In [19]:
for key in students_data.keys():
    print(key)

1
2
3
4

In [20]:
for v in students_data.keys():
    print(v)

1
2
3
4

In [21]:
for v in students_data.values():
    print(v)

['sam', 24]
['sharma', 25]
['saina', 26]
['saif', 24]

In [23]:
# iterate over values of a dictionary
for value in students_data.values():
    print(value)

['sam', 24]
['sharma', 25]
['saina', 26]
['saif', 24]

In [24]:
for value in students_data.values():
    print(value)
    print(type(value))

['sam', 24]
<class 'list'>
['sharma', 25]
<class 'list'>
['saina', 26]
<class 'list'>
['saif', 24]
<class 'list'>

In [25]:
for value in students_data.values():
    print(value[1])
    print(type(value))

24
<class 'list'>
25
<class 'list'>
26
<class 'list'>
24
<class 'list'>

In [26]:
for value in students_data.values():
    print(value[1])
    print(type(value[0]))

24
<class 'str'>
25
<class 'str'>
26
<class 'str'>
24
<class 'str'>

In [27]:
for value in students_data.values():
    print(type(value[1]))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [28]:
for value in students_data.values():
    print(type(value[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [29]:
for value in students_data.values():
    print(value[0])

sam
sharma
saina
saif

# Range function
.range(start,end)

.range(1,8)returns 1,2,3,4,5,6,7

.return sequence would not contain the end value

In [31]:
# Generate range of values.
range(1,101)

range(1, 101)

In [32]:
# Iterate over range of values.
for i in range (1,101):
    print(i,end= " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [34]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
for i in range (1,11,2):
    print(i)

1
3
5
7
9

In [36]:
for i in range (1,11,3):
    print(i)

1
4
7
10

In [37]:
for i in range (10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [38]:
for i in range (10,1,-2):
    print(i)

10
8
6
4
2

In [40]:
ch= ""
while ch !="quit":
    ch=input()
    print(ch)

quit
quit

In [41]:
ch= ""
while ch !="quit":
    ch=input()
    print(ch)

not quit
not quit
quit
quit

In [42]:
ch= ""
while ch !="quit":
    ch=input()
    print(ch)

quit
quit

In [43]:
x=0
while x <=20:
    x+=3    # x=x+3
    if x%5==0:
        continue
    print(x,end= " ")

3 6 9 12 18 21

In [44]:
l=[]
for i in range(-100,0):
    if(i % 2==0):
        l.append(i)

In [45]:
list(range(0,-101,2))

[]

In [46]:
list(range(-100,-1,2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [47]:
sorted(set(range(-2,-101,-2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [48]:
set(range(-2,-101,-2))

{-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2}

In [49]:
list(range(-2,-101,-2))

[-2,
 -4,
 -6,
 -8,
 -10,
 -12,
 -14,
 -16,
 -18,
 -20,
 -22,
 -24,
 -26,
 -28,
 -30,
 -32,
 -34,
 -36,
 -38,
 -40,
 -42,
 -44,
 -46,
 -48,
 -50,
 -52,
 -54,
 -56,
 -58,
 -60,
 -62,
 -64,
 -66,
 -68,
 -70,
 -72,
 -74,
 -76,
 -78,
 -80,
 -82,
 -84,
 -86,
 -88,
 -90,
 -92,
 -94,
 -96,
 -98,
 -100]

In [50]:
set(range(-2,-101,-2))

{-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2}

In [51]:
sorted(set(range(-2,-101,-2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [52]:
list_1=['VARMA','raj','Gupta','SaNdeep']

new_list=[]

for items in list_1:
    items=items.capitalize()
    #items=items.title()
    new_list.append(items)
print(new_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [53]:
list_1=['VARMA','raj','Gupta','saNdeep']

list_1=[new_list.capitalize() for new_list in list_1]
print(list_1)

['Varma', 'Raj', 'Gupta', 'Sandeep']

# title vs capitalize

In [59]:
# string_1="hello world"
print(string_1.title())
print(string_1.capitalize())

Hello World
Hello world

# QUESTION

In [60]:
d={0:'Foish',1:'Bird',2:'Mamma1'}
for i in (d):
    print(i)

0
1
2

In [61]:
type(d)

dict

In [62]:
print(d)

{0: 'Foish', 1: 'Bird', 2: 'Mamma1'}

# Comprehensions

.Provide a concise way to construct sequence (lists,sets,dictionaries etc)

In [64]:
l1=["automobiles","Honda","Benz","Suzuki","Morris Garage"]
l2=[]
for i in l1:
    l2.append(len(i))
l2

[11, 5, 4, 6, 13]

# the functional approach

In [65]:
# Example on list comprehension
l1=["automobiles","Honda","Benz","Suzuki","Morris Garage"]
# create a list consisting of length of each element from the above list
l2=[len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 13]

In [66]:
l3=[1,2,3,4,5]

In [67]:
# iterating over l1 and l2 simultaneaously

for i,j,k in zip(l1,l2,l3):
    print(i," -",j,"")

automobiles  - 11
Honda  - 5
Benz  - 4
Suzuki  - 6
Morris Garage  - 13

In [68]:
# iterating over l1 and l2 simultaneaously

for i,j,k in zip(l1,l2,l3):
    print(i," -",j,"Number is:",k)

automobiles  - 11 Number is: 1
Honda  - 5 Number is: 2
Benz  - 4 Number is: 3
Suzuki  - 6 Number is: 4
Morris Garage  - 13 Number is: 5

In [69]:
input_list=['wood','old','apple','big','item','euphoria']

In [70]:
new_list=[]
for input_str in input_list:
    if input_str[0].lower() in 'aeiou':
        new_list.append(input_str)
print(new_list)

['old', 'apple', 'item', 'euphoria']

In [71]:
new_list=[]
for i in input_list:
    if i[0]in 'aeiou':
        new_list.append(i)
print(new_list)

['old', 'apple', 'item', 'euphoria']

# Question
what will the output of the following code be?

In [3]:
s='a'
s*3

'aaa'

In [4]:
d={x.upper():x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [5]:
d={x.upper():x.upper()*3 for x in 'acbd'}
print(d)

{'A': 'AAA', 'C': 'CCC', 'B': 'BBB', 'D': 'DDD'}

# Functions
.A block of organized,reusable code to perform a particular action
.provide better modularity
.Built-in function include print(),input(),type()etc
.syntax

In [6]:
a=5
b=10
a+b

15

In [7]:
def sum(a,b):
    return a+b

In [8]:
sum(51,10)

61

# Ex.Sum of two numbers

In [9]:
def sum(a=5,b=5):
    c=a+b
    return c
sum(2,3)

5

In [10]:
def sum(a=5,b=5):
    c=a+b
    return c
sum()

10

# Ex.write a function which takes a value as a parameter and returns its factorial

In [ ]:
range(1,5)-->1,2,3,4
n-->range(1,n+1)

In [14]:
def factorial (n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [15]:
factorial(5)

120

In [16]:
factorial(5)
5!=5*4*3*2*1

True

# Default Argument

In [17]:
def func(name,age=35):
    print("name:",name)
    print("age:",age)

In [18]:
func("jane",25)

name: jane
age: 25

In [19]:
func("jane")

name: jane
age: 35

In [21]:
def func(name="default",age=35):
    print("name:",name)
    print("age:",age)

In [23]:
func()

name: default
age: 35

In [24]:
def func(name,age=35,city="Mumbai"):
    print("name:",name)
    print("age:",age)
    print("city:",city)
func("jane",city="Banglore")

name: jane
age: 35
city: Banglore

In [25]:
Open item
def var_func(*args):
    print(args)
var_func(1,3,"abc")

(1, 3, 'abc')

# Lambda Function

# Lambda function are another way of defining functions to execute small functionalities occurring while implementing acomplexfunctionality.

these functions can take multiple parameters as input but can only execute a single expression;

in other words,they can perform a single operation.

In [26]:
# Traditional Approach
def sum(a,b):
    return a+b
#Lambda Approach
f=lambda a,b:a+b

In [27]:
sum(2,3)

5

In [28]:
f(5,10)

15

# .The format of a lambda expression is as follows:

In [ ]:
function_name=lambda<space> input_parameters: output_parameters

In [29]:
# Write a lambda function to check a number is even or odd

f=lambda x:"even" if x%2==0 else "odd"
f(10)

'even'

In [30]:
f=lambda x:"even" if x%2==0 else "odd"
f(15)

'odd'

# Ex.Write a lambda function to perform addition of two numbers

In [31]:
f=lambda x,y:x+y
f(2,5)

7

In [32]:
greater=lambda a,b: a if a>b else b
greater(9,3)

9

In [33]:
greater=lambda a,b: a if a>b else b
greater(9,35)

35

# map-filter-reduce

# Map:
.Utility function in python

.Maps a collection to another collection object based on certain functionality

.Syntax:map(function,iterable object)

In [34]:
countries=["India","Japan","Italy","France"]

In [35]:
f=lambda x:x.upper(),countries

In [36]:
list(map(lambda x:x.upper(),countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

# Filter:
.Similar function,but it requires the function to look for a condition and then return only those elements from the collectionthat satisfies the condition.
Reduce:
.An operation that braeks down the process into pair-wise operations and uses the result from each operation,with the successive element.

In [ ]:
# filter the countries names starting with "!"

In [37]:
list(filter(lambda x:x.startswith("I"),countries))

['India', 'Italy']

In [38]:
list(filter(lambda x:x[0]=='I',countries))

['India', 'Italy']

In [42]:
list(filter(lambda x:x[0].lower()=='i',countries))

['India', 'Italy']

# reduce the list to concatenate the countries names into a single string variable seperated by""

In [43]:
from functools import reduce
reduce(lambda x,y:x+"" +y,countries)

'IndiaJapanItalyFrance'

In [44]:
from functools import reduce
reduce(lambda x,y:x+" " +y,countries)

'India Japan Italy France'

# Some more examples on map-filter-reduce

In [46]:
L1=[2,4,5]
print(map(lambda x:x**2,L1))
print(list(map(lambda x:x**2,L1)))

<map object at 0x0000027D763BCDC0>
[4, 16, 25]

# CLASS & OBJECTS
.length and breadth as attributes
.init()-constructor of class
.self parameters-refers to the newly created instances of the class.
.attributes length and breadth are associated with self-keyword to identify them as instance variables

In [82]:
class Rectangle :
    def __init__(self):
        self.length=10
        self.breadth=5

In [84]:
rect=Rectangle()
rect.length

10

In [85]:
rect=Rectangle()
rect.breadth

5

.create the object by calling name of the class followed by paranthesis.

.print the values using dot operator

A constructor is aspecial kind of method that python calls when it instantiates an object using the definitions found in your class.

In [86]:
rect=Rectangle()
print("Length =",rect.length,"\nBreadth=",rect.breadth)

Length = 10
Breadth= 5

# Parametrised Constructor

In [ ]:
class Rectangle:
    def__init__(self):
        self.length=10
        self.breadth=5

In [90]:
class Rectangle:
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth

In [91]:
rect=Rectangle(5,10)
rect.length

5

In [92]:
rect=Rectangle(5,10)
rect.breadth

10

In [93]:
# Instantating aclass
rect=Rectangle(5,10)
# calling the instance variable
rect.breadth

10

2.Class Variable and Instance variables

In [95]:
class circle:
    pi=3.14
    def __init__(self,radius):
        self.radius=radius

In [98]:
#Instantating  the circle class
circle_1 = circle(5)

In [99]:
circle_1.pi

3.14

In [100]:
circle_1.radius

5

In [101]:
circle_1=circle(5)
print("Radius = {} \t pi={}".format(circle_1.radius,circle_1.pi))

circle_2 = circle(2)
print("Radius={} \t pi={}".format(circle_2.radius,circle_2.pi))

Radius = 5 	 pi=3.14
Radius=2 	 pi=3.14

How to change the class variable?

In [103]:
circle.pi=3.1436

In [104]:
circle_1=circle(5)

In [105]:
circle_1.pi

3.1436

In [102]:
circle.pi=3.1436

circle_1=circle(5)
print("Radius={}\t pi={}".format (circle_1.radius,circle_1.pi))

circle_2=circle(2)
print("Radius={}\t pi={}".format(circle_2.radius,circle_2.pi))

Radius=5	 pi=3.1436
Radius=2	 pi=3.1436

3.Adding a method to class
.calculate_area()-returns the productof attributes length and breadth
.self-identifies its association with the instance

In [109]:
class Rectangle:
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
        
    def calculate_area(self):
        return self.length * self.breadth

In [110]:
  # Instantiating the Rectangle class
    rect=Rectangle(10,5)

In [111]:
rect.length

10

In [112]:
rect.breadth

5

In [113]:
rect.calculate_area()

50

4.Significance of self:
.The attributes length and breadth are associated with an instance.
.Self makes sure that each instance refers to its own copy of attributes

In [114]:
new_rect=Rectangle(15,8)
print("Length =",new_rect.length,"\nBreadth =",rect.breadth,"\nArea =",rect.calculate_area())

Length = 15
Breadth = 5
Area = 50

In [115]:
print("Length =",rect.length,"\nBreadth = ",rect.breadth,"\nArea=",rect.calculate_area())

Length = 10
Breadth =  5
Area= 50

5.Inheritance and Ovrriding

In [117]:
class Employee:
    def function1(self):
        print("hello world")
class Department(Employee):
    pass

In [119]:
emp=Employee()
emp.function1()

hello world

In [121]:
dept=Department()
dept.function1()

hello world

In [122]:
class shape:
    def set_color(self,color):
        self.color=color
    def calculate_area(self):
        pass
    def color_the_shape(self):
        color_price={"red":10,"blue":15,"green":5}
        return self.calculate_area()*color_price[self.color]

In [123]:
class circle(shape):
    pi=3.14
    def __init__(self,radius):
        self.radius=radius
        
    def calculate_area(self):
        return circle.pi * self.radius

In [124]:
c=circle(5)
#Accessing set_color from parent class,because of inheritance
c.set_color("red")
print("circle with radius=",c.radius,"when colored",c.color,"costs $",c.color_the_shape())

circle with radius= 5 when colored red costs $ 157.0

In [126]:
c.calculate_area()

15.700000000000001

In [129]:
class Rectangle(shape):
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
    # overriding user defined method
    def calculate_area(self):
        return self.length *self.breadth
    
# overriding python default method
    def __str__(self):
        return"area of rectangle="+str(self.calculate_area())