In [8]:
#condition and loops
a=10
b=20

if a==10 and b==20:
    print("this is a valid statement")

this is a valid statement

In [9]:
a==10 and b==20

True

In [10]:
a==10 or b==20

True

In [11]:
a==10

True

In [12]:
b==20

True

In [13]:
a==10 and b>20

False

In [14]:
a=10
b=20

if a==10 and b==20:
    print("this is a valid statement")
elif a==10 and b<20:
    print("this statement is valid inside elif ") 
else:
    print(" condition is not valid ")

this is a valid statement

In [15]:
a=10
b=20

if a == 10 and b > 20:
    print("this is a valid statement")
elif a==10 and b<=20:
    print("this statement is valid inside elif ") 
else:
    print(" condition is not valid ")

this statement is valid inside elif

In [16]:
initial_speed=0
final_speed=100
count=1
while initial_speed< final_speed:
    print("this is my speed")
    count=count+1
    if count==10:
        break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [17]:
i=1
j=5
while i<j:
    print(i)
    i=i+1

1
2
3
4

In [18]:
i=1
j=5
while i<=j:
    print(i)
    i=i+1

1
2
3
4
5

In [19]:
i=5
j=1
while i>=j:
    print(j)
    j=j+1
    if j==i:
        print(j)
        break

1
2
3
4
5

In [20]:
notes=5
i=1
while i < notes:
    print(i)
    i += 1
else:
     print("no 10 rs notes are available")

1
2
3
4
no 10 rs notes are available

In [21]:
notes=5
i=1
j=1
while i < notes:
    print(i)
    i += 1
else:
    while j <2:
        print(i)
        j=j+1
    print("u are not cricketer")

1
2
3
4
5
u are not cricketer

In [22]:
s="my name is amarjeet kumar"

In [23]:
s

'my name is amarjeet kumar'

In [24]:
s[4]

'a'

In [25]:
s[3:10] # start :end

'name is'

In [26]:
s[3:10:2] #start:end:step

'nm s'

In [27]:
s[10:3]

''

In [28]:
s[10:2:-2]

' iea'

In [29]:
s[::-1]

'ramuk teejrama si eman ym'

In [30]:
s[2:-6]

' name is amarjeet'

In [32]:
s="amarjeet"

In [33]:
s[-2]

'e'

In [34]:
s[0]

'a'

In [35]:
for i in s:
    print(i)

a
m
a
r
j
e
e
t

In [36]:
for i in s:
    if i == 'm':
        print(" i got s as a string")
    print(i)

a
 i got s as a string
m
a
r
j
e
e
t

In [37]:
for i in s:
    print(i)
else:
    print("this is a else condition")

a
m
a
r
j
e
e
t
this is a else condition

In [38]:
for i in s:
    print(i)
else:
    if i=='e':
        print("last char was u")
    print("this is a else condition")

a
m
a
r
j
e
e
t
this is a else condition

In [39]:
for i in s:
    print(i)
else:
    if i=='t':
        print("last char was u")
    print("this is a else condition")

a
m
a
r
j
e
e
t
last char was u
this is a else condition

In [41]:
for i in s:
    if i =="r":
        break
    print(i)
else:
    if i=='t':
        print("last char was u")
    print("this is a else condition")

a
m
a

In [42]:
for i in s:
    if i =="r":
        continue
    print(i)
else:
    if i=='t':
        print("last char was u")
    print("this is a else condition")

a
m
a
j
e
e
t
last char was u
this is a else condition

In [43]:
s="student"
ss=""
for i in range(len(s)):
    if s[i]=="n":
        continue
    else:
        ss=ss +s[i]

In [44]:
ss

'studet'

In [45]:
len(s)

7

In [46]:
n=7
for i in range(0 ,n):
    for j in range (0,i+1):
        print("+", end = "")
    print("\r")

+
++
+++
++++
+++++
++++++
+++++++

In [47]:
def pattern (n):
    k =2*n -2
    for i in range(k,0,-1):
        for j in range(k,0,-1):
            print(end=" ")
        k=k+1
        for j in range(0,i+1):
            print("*",end=" ")
        print("\r")
pattern(5)

        * * * * * * * * *
         * * * * * * * *
          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *

In [48]:
def pattern (n):
    k =2*n -2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end=" ")
        k=k+1
        for j in range(0,i+1):
            print("*",end=" ")
        print("\r")
pattern(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [50]:
n=int(input('Enter number of rows required:'))

for i in range (n,0,-1):
    for j in range(n-i):
        print(' ',end='')
        
    for j in range(2*i-1):
        print('*',end='')
    print()

Enter number of rows required:7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [51]:
num=5
m=2 * num -2
for i in range(num,-1,-1):
    for j in range(m,0,-1):
        print(end=" ")
    m=m+1
    for j in range(0, i+1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [53]:
n=9
i=0
while i <n:
    print(' '*(n-i-1) +'* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [54]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*',end='')
        j=j+1
    print()
    
    k=k+2
     
    i=i+1

    *
   ***
  *****
 *******
*********

In [56]:
userInput =int(input("please enter the amount of rows:"))

row=0
while(row < userInput):
    row +=1
    spaces=userInput - row
    spaces_counter=0
    while(spaces_counter < spaces):
        print(" ",end='')
        spaces_counter +=1
        
    num_stars=2*row-1
    while(num_stars >0):
        print("*", end='')
        num_stars -=1
    print()
print("**data scince")

please enter the amount of rows:7
      *
     ***
    *****
   *******
  *********
 ***********
*************
**data scince

In [57]:
# list
l=list()

In [64]:
name= "student"
phno= 543535345
addr= "punjab"

name , phno , addr = "student" , 543535398, "great"

In [65]:
l=["student",34535,"college"]

In [66]:
l

['student', 34535, 'college']

In [67]:
l[0]

'student'

In [68]:
l[1]

34535

In [69]:
l[2]

'college'

In [70]:
type(l)

list

In [71]:
l1=[]

In [73]:
type(l1)

list

In [74]:
l1=[]

In [75]:
l2=list()
type(l2)

list

In [76]:
l=["student",34535,"college", True ,(45+8j),[3,5,6,"god"],9.856]

In [77]:
print(l)

['student', 34535, 'college', True, (45+8j), [3, 5, 6, 'god'], 9.856]

In [78]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [79]:
for i in l:
    if type(i)==list:
        for j in i :
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [81]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
            print(n)
            print(type(j))

3
<class 'int'>
8
<class 'int'>
14
<class 'int'>
14
<class 'str'>

In [82]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
        print(n)
        print(type(j))

14
<class 'str'>

In [83]:
l[0:5]

['student', 34535, 'college', True, (45+8j)]

In [84]:
l[8:3:1]

[]

In [85]:
l[80:3:-1]

[9.856, [3, 5, 6, 'god'], (45+8j)]

In [86]:
l[80:3:1]

[]

In [87]:
range(10)

range(0, 10)

In [88]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [91]:
list(range(7,0,-1))

[7, 6, 5, 4, 3, 2, 1]