In [1]:
print("hello world")

hello world

In [4]:
a=9
b='this is my first time doing program'
c=9.9
d=True

print(a)
print(b)
print(c)
print(d)

9
this is my first time doing program
9.9
True

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [7]:
a=0
a_bool=bool(a)

print(a)
print(type(a))

print(a_bool)
print(type(a_bool))

0
<class 'int'>
False
<class 'bool'>

In [30]:
#  arithmetic operator 
a=9
b=10

add=a+b
sub=a-b
mul=a*b
div=a/b
mod=a%b
exp=a**b
div_w=a//b
pow=a**b

print(add)
print(sub)
print(mul)
print(div)
print(mod)
print(exp)
print(div_w) 
print(pow)

19
-1
90
0.9
9
3486784401
0
3486784401

In [17]:
# assignment operator
a=9

a +=18 # a=a+18
a -=18 # a=a-18
a *=18
a /=18
a %=18
a //=18

In [27]:
# comparision operator
a=9
b=10

print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)
print(a!=b)

False
True
True
False
False
True
True

In [37]:
# logical operator
a=10
b=20

print(a >5 and b<50)
print(a>15 and b<50)
print(a>15 or b<50)
print(not(a>15 or b<50))

True
False
True
False

In [38]:
condition1=100>10
condition2=5>10

print(condition1)
print(condition2)

True
False

In [39]:
condition1 or condition2

True

In [41]:
condition1 and condition2

False

In [42]:
a=1
b=10
c=100

print(a>b)
print(b>c)

False
False

In [43]:
print(a<c)
print(b>c)

True
False

# list comprehension

In [9]:
# for loops
new_lst=[]
for i in range(0,11):
    new_lst.append(i)
    
    print(new_lst)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# for loops
new_lst=["Amarjeet"]
for i in range(0,11):
    new_lst.append(i)
    
    print(new_lst)

['Amarjeet', 0]
['Amarjeet', 0, 1]
['Amarjeet', 0, 1, 2]
['Amarjeet', 0, 1, 2, 3]
['Amarjeet', 0, 1, 2, 3, 4]
['Amarjeet', 0, 1, 2, 3, 4, 5]
['Amarjeet', 0, 1, 2, 3, 4, 5, 6]
['Amarjeet', 0, 1, 2, 3, 4, 5, 6, 7]
['Amarjeet', 0, 1, 2, 3, 4, 5, 6, 7, 8]
['Amarjeet', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['Amarjeet', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
new_lst=[]
for i in range(0,11):
    new_lst.append(i)
    
print(new_lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
new_lst=[i for i in range(0,11)]
print(new_lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
lst1=[2,3,6,7,12,48,39,22]
new_lst=[element for element in lst1 if element % 2==0]
print(new_lst)

[2, 6, 12, 48, 22]

In [5]:
lst1=[2,3,6,7,12,48,39,22]

new_lst=[element for element in lst1 if element %2==0]
print(new_lst)

[2, 6, 12, 48, 22]

In [7]:
lst1=[1,5,10,15,19,35,11,16]
new_lst1=[]
for element in lst1:
    if element>15:
        new_lst1.append(element+5)
    else:
            new_lst1.append(element)
print(new_lst1)

[1, 5, 10, 15, 24, 40, 11, 21]

In [18]:
lst=[1,5,10,15,19,35,11,16]

new_lst1=[element+5 if element>15 else element in lst1]
print(new_lst1)

[21]

In [19]:
lst1=[1,5,10,15,19,35,11,16]

new_lst1=[element + 5 if element > 15 else element for element in lst1]
print(new_lst1)

[1, 5, 10, 15, 24, 40, 11, 21]

# basic string operation

In [21]:
# + concatination
s='hi'
k='hello'

print(s+k)
print(s +' '+ k)

hihello
hi hello

In [30]:
#repetition
k='HELLO, '

print(k * 10)

HELLO, HELLO, HELLO, HELLO, HELLO, HELLO, HELLO, HELLO, HELLO, HELLO,

In [45]:
#indexing

k='Amarjeet'
print(k[::-3])
##print(k[1])

tjm

In [30]:
# slicing
s="i am good"
print(s[5:9])

print(s[2:4])

good
am

In [31]:
s="i am good"
print(s[5:8])

print(s[2:5])

goo
am

In [47]:
# membership
s='Hello guys, welcome to string'
print('hello' in s)
    
print('hi' in s)

False
False

In [49]:
## True+False

1

In [55]:
s='Hello guys, welcome to string'
print('Hello' in s)
    
print('hi' in s)   

len(s)
#type(s)

True
False

29

In [ ]:
# DATA STRUCTURE
# Variable_name=data

In [22]:
user_name=['henry','amit','gautam','amarjeet']
user_gender=['female','male','male','male']
user_age=[18,16,22,15]
user_adult=[True,False,True,False]
user_henry=['henry','male',18,True]
user_name[0]='hero'
            
print(len(user_name))
print(type(user_name))
print(user_name)
print(user_name[0])
print(user_name[-1])
print(user_name[0:3])
print(user_name[0:2])
print(user_name[2:])
print(user_name[1:])
print(user_name)

4
<class 'list'>
['hero', 'amit', 'gautam', 'amarjeet']
hero
amarjeet
['hero', 'amit', 'gautam']
['hero', 'amit']
['gautam', 'amarjeet']
['amit', 'gautam', 'amarjeet']
['hero', 'amit', 'gautam', 'amarjeet']

In [23]:
user_name.insert (2,'root')

print(user_name)

['hero', 'amit', 'root', 'gautam', 'amarjeet']

In [24]:
user_name.append ('Amarjeet')

print(user_name)

['hero', 'amit', 'root', 'gautam', 'amarjeet', 'Amarjeet']

In [25]:
user_name.extend(user_gender)

print(user_name)

['hero', 'amit', 'root', 'gautam', 'amarjeet', 'Amarjeet', 'female', 'male', 'male', 'male']

In [26]:
user_name.clear() 

print(user_name)

[]

# tuple

In [ ]:
# user_name=('amarjeet','alison','gambhir','jason')
user_amarjeet=('amarjeet','male','20','True')



print(user_name[0])
print(user_amarjeet)
print(len(user_name))
print(type(user_name))
print(user_name[-1])
print(user_name[1])
print(user_name[1:3])
print(user_name[0:3])

In [3]:
user_name=('amarjeet','alison','gambhir','jason')
user_amarjeet=('amarjeet','male','20','True')

un_list=list(user_name)
un_list.append('gautam')

user_name=tuple(un_list)
name,gender,age,adult=user_amarjeet
doll=user_name+user_amarjeet


print(un_list)
print(type(un_list))
print(un_list)
print(user_name)
print(name)
print(doll)

['amarjeet', 'alison', 'gambhir', 'jason', 'gautam']
<class 'list'>
['amarjeet', 'alison', 'gambhir', 'jason', 'gautam']
('amarjeet', 'alison', 'gambhir', 'jason', 'gautam')
amarjeet
('amarjeet', 'alison', 'gambhir', 'jason', 'gautam', 'amarjeet', 'male', '20', 'True')

# set data structure

# dictionary

In [44]:
user_amarjeet={"name": 'henry',"age":'20',"gender":'male',"adult":True}

user_amarjeet["age"]=20
user_amarjeet["followers"]=450
user_amarjeet.pop('age')

In [47]:
print(type(user_amarjeet))
print(user_amarjeet)
print(user_amarjeet["name"])
print(len(user_amarjeet))
print(user_amarjeet["age"])
print(user_amarjeet.keys())
print(user_amarjeet.keys())
print(user_amarjeet.values())
print(user_amarjeet.items())
print(user_amarjeet["age"])
print(user_amarjeet)

<class 'dict'>
{'name': 'henry', 'age': 20, 'gender': 'male', 'adult': True, 'followers': 450}
henry
5
20
dict_keys(['name', 'age', 'gender', 'adult', 'followers'])
dict_keys(['name', 'age', 'gender', 'adult', 'followers'])
dict_values(['henry', 20, 'male', True, 450])
dict_items([('name', 'henry'), ('age', 20), ('gender', 'male'), ('adult', True), ('followers', 450)])
20
{'name': 'henry', 'age': 20, 'gender': 'male', 'adult': True, 'followers': 450}

In [51]:
user_amarjeet={"name": 'henry',"age":'20',"gender":'male',"adult":True}
user_amarjeet.clear()
print(user_amarjeet)

{}

In [54]:
user_amarjeet={"name": 'henry',"age":'20',"gender":'male',"adult":True}
user_dhoni={"name":'dhoni',"age":28,"gender":'male',"adult":True}
user_rabada={"name":'rabada',"age":28,"gender":'male',"adult":True}                     
users={"user1":user_amarjeet,"user2":user_dhoni,"user3":user_rabada}

In [55]:
print(users)

{'user1': {'name': 'henry', 'age': '20', 'gender': 'male', 'adult': True}, 'user2': {'name': 'dhoni', 'age': 28, 'gender': 'male', 'adult': True}, 'user3': {'name': 'rabada', 'age': 28, 'gender': 'male', 'adult': True}}

# #python condition statements

In [1]:
user_age=20
if user_age>18:
    print('you are welcome')
else:
    print('you are not welcome')

you are welcome

In [3]:
user_age=10
if user_age>18:
    print('you are welcome')
elif user_age==18:
      print('you are just wait')
else:
    print('you are not welcome')

you are not welcome

In [4]:
user_age=18
if user_age>18:
    print('you are welcome')
elif user_age==18:
      print('you are just wait')
else:
    print('you are not welcome')

you are just wait

In [9]:
user_age=18
if user_age>18 and user_age<60:
    print('you are welcome')
elif user_age==18 or user_age==60:
      print('you are missing it by one year')
else:
    print('you are not welcome')

you are missing it by one year

In [8]:
 user_age=70
if user_age>18 and user_age<60:
    print('you are welcome')
elif user_age==18 or user_age==60:
      print('you are missing it by one year')
else:
    print('you are not welcome')

you are not welcome

In [10]:
user_age=60
if user_age>18 and user_age<60:
    print('you are welcome')
elif user_age==18 or user_age==60:
      print('you are missing it by one year')
else:
    print('you are not welcome')

you are missing it by one year

# for loops

In [11]:
user_name=(['amarjeet','amit','gautam','jacky'])

print(user_name[0])
print(user_name[1])
print(user_name[2])
print(user_name[3])

amarjeet
amit
gautam
jacky

In [12]:
user_name=(['amarjeet','amit','gautam','jacky'])

for name in user_name:
    print(name)

amarjeet
amit
gautam
jacky

In [13]:
user_name=(['amarjeet','amit','gautam','jacky'])

name='hanry'
for n in name:
    print(n)

h
a
n
r
y

In [14]:
user_name=(['amarjeet','amit','gautam','jacky'])

name='amarjeet'
for n in name:
    print(n)

a
m
a
r
j
e
e
t

In [16]:
user_name=(['amarjeet','amit','gautam','jacky'])

for name in user_name:
    print(name)
    if name=='gautam':
        break

amarjeet
amit
gautam

In [18]:
user_name=(['amarjeet','amit','gautam','jacky'])

for name in user_name:
    print(name)
    if name=='gautam':
        continue
    print(name)

amarjeet
amarjeet
amit
amit
gautam
jacky
jacky

In [19]:
user_name=(['amarjeet','amit','gautam','jacky'])

for name in user_name:
    if name=='gautam':
        continue
    print(name)

amarjeet
amit
jacky

In [20]:
for i in range (9):
    print(i)

0
1
2
3
4
5
6
7
8

In [25]:
for i in range (3,9):
    print(i)

3
4
5
6
7
8

In [26]:
for i in range (3,9,2):
    print(i)

3
5
7

In [27]:
for i in range(3,7):
    for name in user_name:
        print(i,name)

3 amarjeet
3 amit
3 gautam
3 jacky
4 amarjeet
4 amit
4 gautam
4 jacky
5 amarjeet
5 amit
5 gautam
5 jacky
6 amarjeet
6 amit
6 gautam
6 jacky

# python function

In [31]:
def greet():
    print('good morning')
greet()

good morning

In [32]:
def greet(user_name):
    print('good morning',user_name)
    
user_name='nick'
greet(user_name)

good morning nick

In [33]:
def greet(user_name):
    print('good morning',user_name)
    
name='nick'
greet(name)

good morning nick

In [34]:
def add(fnum,snum):
    result=fnum+snum
    return result

add(10,8)

18

In [35]:
def add(fnum,snum):
    result=fnum+snum
    return result

final= add(10,8)
print(final)

18

In [39]:
def add(fnum,snum):
    result=fnum+snum
    
    print('don')
    return result

final= add(10,8)
print(final)

don
18